# .env.example
SUPABASE_URL=https://icunltrxwvbmjjyynibc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_X8ohUDEuZ_Eun7pWoijqyQ_GEV_kLNh
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.icunltrxwvbmjjyynibc.supabase.co:5432/postgres
